@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A3           .sheet { width: 297mm; height: 419mm }
body.A3.landscape .sheet { width: 420mm; height: 296mm }
body.A4           .sheet { width: 210mm; height: 296mm }
body.A4.landscape .sheet { width: 297mm; height: 209mm }
body.A5           .sheet { width: 148mm; height: 209mm }
body.A5.landscape .sheet { width: 210mm; height: 147mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
}

.khung_in { width: 90%; margin: 0px auto; } .khung_pading{ margin:30px 10px; } .box_header{ float: left; width: 33%; } 
.text_header{
	margin:20px auto;
	text-align:center;font-weight:bold;font-size:20px;color:#27547E;
}
.text_header p{
	margin:0px;
}	
.content_in{ margin-top: 5px; } .content_in p{ margin: 0px!important; } 
.box_thongtin_l{ width: 100%; float: left; margin-top:30px;margin-bottom:30px; } 
.box_thongtin_r{ float: right; text-align: left; } .diachi_in{ font-size: 9px; font-weight: bold; } .tt_l{ font-size: 15px; } .tt_r{ font-size: 9px; color: black; font-weight: bold; } .tt_r span{ font-weight: normal; color: black; } .tt_b{ font-size: 9px; font-weight: bold; } .tt_b span{ font-weight: normal; } .end_in{ display: flex; } .end_in li{ flex: 6; font-weight: bold; } .list_sp{ margin-top: 5px; } .tt_left{ float:left; text-align: right; } .tt_right{ float: right; width: 125px; text-align: right; margin-right: 10px; } .tt_right p{ font-weight: normal; }
.top_gh th span{
font-size: 10px!important;
}
.gach_chan{

width: 100px;
display: inline-block;
}
.box_thongtin_l ul{
list-style: none;


}
.box_thongtin_l ul li{
line-height: 20px;

font-weight: bold;
}
.box_flex_2 ul li{
   width:100%;
}
.box_flex_2 ul li span{
	font-weight:bold;
}
.box_flex_2 p{
display: inline-block;    font-weight: normal;
}
.gach_chan{

width: -webkit-calc(100% - 110px);
width: -moz-calc(100% - 110px);
width: calc(100% - 110px);
display: inline-block;padding-left:10px;
}
.change_stt{
color:#000;
}

.box_tong_2 {
float:left;width:50%;border-bottom:1px solid #000;
}
.box_tong_footer p{
font-weight:bold;
}
.box_tong_2 span{
font-weight:normal;
}