/*----------------TIN TUC-----------------*/


.title-info-detail
{
  margin:0 auto;
  width:890px;
  padding: 0 0 10px 0px;
}
.title-info-detail h3.title-info-detail
{
  margin:0 auto;
  font-family:robotoregular;
  font-size:18px;
  color:#000;
  line-height:10px;
  
} 

.box_news {
border-bottom: 1px dotted #898EAA;
padding-bottom: 15px;
margin-right: 20px;
margin-top:10px;
margin-bottom: 10px;

}
.box_news h4 {
    font-size: 12px;
}
.box_news h4 a {
    color: #25a9df;
	text-transform:capitalize;
	font-weight:bold;
	font-size: 14px;
}
.box_news p {
    margin: 0;
    padding: 0;
}

.box_news p.news_mota{
	text-align: justify;
}

p.small {
    color: #666666;
    font-size: 11px;
}
.box_news h4 a:hover
{
    color:#007dac;
}
.box_news h4 a:hover {
    color: #e90000;
}


.image_boder {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #25a9df;
float: left;
margin: 0 10px;
padding: 3px;
max-width: 195px;
max-height: 130px;
}
.image_boder a img {
    height: 130px;
    width: 185px;
}
li.chitiet-news {
  white-space:nowrap;
margin-top: 10px;
margin-right: 25px;
padding: 5px 10px 5px 10px;
background: #25a9df;
float:left;
list-style: none;
text-decoration: none;
}
li.chitiet-news:hover{
  background:#e90000;
}
li.chitiet-news > a {
color: #fff;
font-size: 13px;
display:block;
}

/*-------------CHI TIET (TIN TUC)--------------------*/

.title_news{
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
}

.othernews {
  color: #FF0000;
  padding-left:10px;
  padding-top:20px;
  padding-bottom:15px;
}

.othernews h3 {
  color:#FF0000;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
}
.othernews ul {
  list-style:inside;
  margin:10px 0 0 0;
  padding:0;
}

.othernews ul li {
	list-style:none;
	background: url(../images/icon_others.png) no-repeat 0px;
  padding-left:10px;
  margin:0 0 5px 0;
}

.othernews ul li a:hover{
	text-decoration:underline;
}