## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/* text/html text/xml text/css text/plain text/x-component text/x-js text/richtext text/xsd text/xsl
    AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml image/x-icon
    AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
    AddOutputFilterByType DEFLATE font/truetype font/opentype
    Header append Vary User-Agent env=!dont-vary
    AddOutputFilter DEFLATE js css htm html xml text
</ifModule>
# 1 year
<FilesMatch ".(ico|pdf|flv)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
# 1 WEEK
<FilesMatch ".(jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
# 2 DAYS
<FilesMatch ".(xml|txt|css|js)$">
Header set Cache-Control "max-age=604800, proxy-revalidate"
</FilesMatch>

RewriteEngine on
Options -Indexes

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


DirectoryIndex index.php 
RewriteRule sitemap.xml$ sitemapauto.php [L]

RewriteRule ^admin/$ admin/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 404 /404.php
#Link Thumb

RewriteRule ^thumb/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb.php?w=$1&h=$2&zc=$3&q=100&src=http://%{HTTP_HOST}/myngoc_1540419W/$4  [L]
RewriteRule ^thumb1/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb.php?w=$1&h=$2&zc=$3&q=100&src=http://%{HTTP_HOST}/myngoc_1540419W/$4  [L]
#RewriteRule ^thumb1/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb_dd.php?w=$1&h=$2&zc=$3&q=100&src=$4&wm=1&wl=3&wmr=10 [L]

#Toi uu link
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?com=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?com=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/page=([0-9]+)$ index.php?com=$1&curPage=$2 [L]

RewriteRule ^([a-zA-Z0-9_-]+).html/tag=(.*)/$	index.php?com=$1&tag=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+).html/tag=(.*)/page=([0-9]+)$	index.php?com=$1&tag=$2&curPage=$3 [L]



#link search
RewriteRule ^([a-zA-Z0-9_-]+)/keyword=(.*)/page=([0-9]+)$	index.php?com=$1&keyword=$2&curPage=$3 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/keyword=(.*)/$ index.php?com=$1&keyword=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/keyword=(.*)$	index.php?com=$1&keyword=$2 [L]


#link ngon ngu

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).htm$ index.php?com=$1&lang=$2 [L]









