.ddsmoothmenu-v ul{
 background: #f9f9f9;

}
.ddsmoothmenu-v li a{
    color: #3d3d3d;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 0px;
    background: url("../images/node.png")no-repeat left center  ;
   
    font-size: 14px;
    font-family: 'Roboto-Regular';
    text-transform: uppercase;
}
.ddsmoothmenu-v li{
    background:url("../images/node_2.png")no-repeat right center;
    border-bottom: 1px solid #D2D2D2;
    padding: 10px 0px;
    margin:0 10px;
    list-style: none;
}
.ddsmoothmenu-v li:last-child{
    border-bottom: none;
}
.ddsmoothmenu-v ul li{
position: relative;
}
.ddsmoothmenu-v li li a{
	color: #3d3d3d;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 30px;
        background: url("../images/node.png") no-repeat left center;
        
        font-size: 14px;
        font-family: 'Roboto-Regular';
        
}
.ddsmoothmenu-v li li{
    border-bottom: 1px solid #D2D2D2;
    padding: 10px 10px;
    margin:0 10px;
    background: none;
    
}
/* Top level menu links style */
.ddsmoothmenu-v ul li a{
overflow: auto; /*force hasLayout in IE7 */
/*color: white;
text-decoration: none;
padding: 6px;
border-bottom: 1px solid #778;
border-right: 1px solid #778;
*/
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
/*background: #414141; /*background of menu items (default state)*/
/*color: white;*/

        
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color:red;
}

.ddsmoothmenu-v ul li a:hover{
/*background: black; /*background of menu items during onmouseover (hover state)*/
	color:red;
}
.ddsmoothmenu-v ul li .active {
/*background: black; /*background of menu items during onmouseover (hover state)*/
	color:red;
}


/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
        position: absolute;
        width: 240px;
        top: 0px!important;
        left: 230px !important;
        font-weight: normal;
        visibility: hidden;
        background:#FFF;
        padding:0px 0px;
        border:1px solid #EFEFEF;
        
        
}


 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */